* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #000;
  font-size: 16px;
}

/* -------------------------------
---Top bar section start here ---
---------------------------------*/
.top-bar {
  background-color: gray;
  color: #fff;
  height: 40px;
  border-bottom: 1px;
  padding-top: 8px;
}
.top-bar .social-icon {
  transition: 0.5s;
}
.top-bar .social-icon a {
  color: #fff;
  padding: 1px 6px;
}
.top-bar .social-icon a:hover {
  color: #46B56B;
}
.top-bar .mail-section i {
  color: #46B56B;
}

/* -----------------------------
--- top bar section stop here ---
--------------------------------*/
/* -----------------------------
--- nav section start here ----
--------------------------------*/
header {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
header nav {
  padding: 0.5rem 0rem !important;
}
header nav .navbar-expand-lg, header nav .navbar-nav, header nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
header nav a {
  margin-left: -15px !important;
  padding: 0px 10px;
}
header nav a img {
  width: 80px;
}
header nav ul li a:hover {
  color: #46B56B !important;
}
header nav ul button {
  margin-right: -17px !important;
  margin-top: 0px !important;
  padding: 0.5rem 2rem !important;
}

/* --------------------------------------
----- nav section end ----------
----------------------------------*/
/* --------------------------------
---- slider section start --------
----------------------------------*/
.tit {
  font: 400 1rem "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.top {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}

.slide {
  list-style-type: none;
  padding: 0;
}

.slide__item {
  position: relative;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}

.slide-caption__title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0;
  text-transform: uppercase;
}

.slide-caption__title:before {
  content: "";
  width: 20%;
  border-bottom: 2px solid #fff;
  display: block;
  margin: 0 auto;
}

.owl-item.active .slide-caption__title {
  animation: 1s 0.2s fadeInUp both;
}

.owl-item.active .slide-caption__desc {
  animation: 1s 0.6s fadeInUp both;
}

.owl-item.active .btn {
  animation: 1s 0.9s flipInX both;
}

.slide-caption__desc {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  text-transform: uppercase;
}

.btn {
  font-size: 16px;
  font-weight: 300;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.6rem 2rem;
  display: inline-block;
  text-decoration: none;
  margin-top: 0.5rem;
}

/* ----------------------------------
--------- slider section end --------
------------------------------------*/
.features-section {
  margin: 90px 0px;
  text-align: center;
}
.features-section .section-title {
  color: #46B56B;
}
.features-section .section-title h3 {
  font-weight: 700px;
  line-height: 50px;
}
.features-section .feature-box {
  margin-top: 54px;
}
.features-section .feature-box .icon {
  transition: 0.3s;
}
.features-section .feature-box .icon i {
  font-size: 65px;
}
.features-section .feature-box .feature-title {
  margin: 10px 0px -2px;
}
.features-section .feature-box .feature-title h5 {
  line-height: 46px;
  color: #46B56B;
}
.features-section .feature-box:hover > .icon {
  transform: translateY(-10px);
  color: #46B56B;
}

/* ------------------------------------------
--------- feature section start here --------
---------------------------------------------*/
/* ------------------------------------------
--------- course section start here --------
---------------------------------------------*/
.course-section {
  background-color: #f5f5f5;
  margin: 90px 0px;
  text-align: center;
}
.course-section .section-title {
  color: #46B56B;
  padding-top: 90px;
}
.course-section .section-title h3 {
  font-weight: 700px;
  line-height: 50px;
}
.course-section .section-content {
  margin-bottom: 50px;
}
.course-section .course {
  background-color: #fff;
  margin-bottom: 90px;
  display: table;
  border-radius: 10px;
}
.course-section .course .course-image {
  margin-bottom: 15px;
}
.course-section .course .course-image img {
  display: block;
}
.course-section .course .course-image span {
  top: 18%;
  color: #fff;
  padding: 5px 10px;
  background: #46b56b;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.course-section .course .course-title {
  margin-bottom: 10px;
}
.course-section .course .course-title:hover {
  color: #46B56B;
  transition: 0.3s;
}
.course-section .course .course-description {
  margin: 0px 5px;
  margin-bottom: 18px;
  color: #5a5e6a;
  padding: 0 10px;
}
.course-section .course .action {
  margin: 0px 10px;
}
.course-section .course .action button {
  margin-bottom: 10px;
  padding: 0.25rem 0.5rem !important;
}
.course-section .course:hover span {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

/* ------------------------------------------
--------- course section stop here --------
---------------------------------------------*/
/* ------------------------------------------
--------- teacher section start here --------
---------------------------------------------*/
.teacher-section {
  text-align: center;
  margin-bottom: 90px;
}
.teacher-section .section-title {
  color: #46B56B;
}
.teacher-section .section-title h3 {
  font-weight: 700px;
  line-height: 50px;
}
.teacher-section .section-content {
  margin-bottom: 50px !important;
  max-width: 770px;
  text-align: center;
  margin: 0 auto;
}
.teacher-section .single-teacher {
  background-color: #f5f5f5;
}
.teacher-section .single-teacher .teacher-photo {
  padding-top: 25px;
  padding-bottom: 15px;
}
.teacher-section .single-teacher .teacher-photo img {
  border: 1px solid #000;
}
.teacher-section .single-teacher .teacher-name a {
  text-decoration: none;
  color: #46B56B;
  padding: 25px 0px;
  transition: 0.5s;
}
.teacher-section .single-teacher .teacher-name a:hover {
  color: #868e96;
}
.teacher-section .single-teacher .teacher-description {
  padding: 10px 15px;
  text-align: justify;
}
.teacher-section .single-teacher .teacher-course {
  padding-bottom: 25px;
  width: 80%;
  margin: 0px auto;
}
.teacher-section .single-teacher .teacher-course a {
  line-height: 25px;
}
.teacher-section .add-teacher {
  background-color: #F5F5F5;
  margin-top: 97px;
  border-radius: 4px;
  height: 130px;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.13), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.12);
}
.teacher-section .add-teacher .icon {
  padding-right: 20px;
}
.teacher-section .add-teacher .icon i {
  font-size: 60px;
  color: green;
}
.teacher-section .add-teacher .add-teacher-title {
  text-decoration: none;
  color: #46B56B;
  font-size: 20px;
}
.teacher-section .add-teacher .add-teacher-btn {
  margin-top: 60px;
}
.teacher-section .add-teacher .add-teacher-btn a {
  padding: 8px 12px;
}

/* ------------------------------------------
--------- teacher section stop here --------
---------------------------------------------*/
/* ------------------------------------------
--------- mise section stop here --------
---------------------------------------------*/
.mise-section {
  background-color: #f5f5f5;
}
.mise-section .section-title {
  padding-top: 90px;
  color: #46B56B;
  text-align: left;
  margin-bottom: 30px;
}
.mise-section .section-title h3 {
  font-weight: 700;
  line-height: 50px;
}
.mise-section #accordion .card {
  margin-bottom: 15px;
  background-color: #fff;
}
.mise-section #accordion .card .card-header {
  background-color: #fff;
}
.mise-section #accordion .card .card-header h6 a {
  color: #464a4e !important;
  text-decoration: none;
  display: block;
}
.mise-section #accordion .card .card-header h6 a:hover {
  color: #46B56B !important;
}
.mise-section #accordion .card-last {
  margin-bottom: 90px;
}

/* ------------------------------------------
--------- mise section stop here --------
---------------------------------------------*/
/* ------------------------------------------
--------- footer section start here --------
---------------------------------------------*/
.footer {
  background-color: #2b2e3b;
  padding-top: 0;
}
.footer .bottom {
  margin-top: 90px;
  backround-color: #262934;
  height: 68px;
}
.footer .bottom .site-info {
  color: #a9abb0;
  line-height: 68px;
}
.footer .bottom .site-info a {
  text-decoration: none;
  color: green;
  font-weight: 500;
}
.footer .bottom .social-link {
  line-height: 68px;
  color: #fff;
}
.footer .bottom .social-link a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}
.footer .bottom .social-link a:hover {
  color: #46B56B;
}

/* ------------------------------------------
--------- footer section stop here --------
---------------------------------------------*/

/*# sourceMappingURL=style.css.map */
